# This is an example config file for `sshprint'
[general]
defauls="name of server, e.g. ediuni"

# example server block
[ediuni]
user=test
server=ssh.inf.ed.ac.uk
printers=one, two, three
favoritep=two, one, three
